language: node_js
sudo: true
node_js:
  - "node"

services:
  - mongodb

env:
  GIT_USER=stee1
  GIT_EMAIL="krdima92@gmail.com"
  DOCKER_USER=krdmitriy

before_install:
  - ./build.sh

install:
  - ./test.sh
  - ./package.sh
  - ./publish.sh

script: echo "npm test temporarily disabled"

after_script:
  - ./clean.sh