language: node_js
sudo: true
node_js:
  - "node"

services:
  - mongodb

env:
  DOCKER_USER=krdmitriy

before_install:
  - ./build.sh

install:
  - ./test.sh
  - ./package.sh
  - ./publish.sh

script: echo "npm test temporarily disabled"

after_success:
  - chmod +x update_git.sh
  - ./update_git.sh

after_script:
  - ./clean.sh